<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>Unknown</string>
	<key>id</key>
	<string>87EAA0FA-BD9B-4B5D-80B3-5422821748A8</string>
	<key>title</key>
	<string>Custom Theme</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
