<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>9A45B27F-3170-4C9F-A7E8-6DB0EC1C8F72</string>
	<key>title</key>
	<string>函数</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
